apiVersion: v1
kind: Namespace
metadata:
  name: argocd
  labels:
    name: argocd
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://argoproj.github.io/argo-helm
    chart: argo-cd
    targetRevision: 5.51.6
    helm:
      values: |
        global:
          domain: argocd.cleverapps.io
        server:
          service:
            type: LoadBalancer
          ingress:
            enabled: true
            ingressClassName: nginx
            hosts:
              - argocd.cleverapps.io
            tls:
              - secretName: argocd-server-tls
                hosts:
                  - argocd.cleverapps.io
          config:
            url: https://argocd.cleverapps.io
            application.instanceLabelKey: argocd.argoproj.io/instance
            oidc.config: |
              name: OIDC
              issuer: https://gitea.cleverapps.io
              clientId: argocd
              clientSecret: $oidc.argocd.clientSecret
              requestedScopes: ["openid", "profile", "email", "groups"]
              requestedIDTokenClaims: {"groups": {"essential": true}}
        configs:
          cm:
            application.instanceLabelKey: argocd.argoproj.io/instance
            server.rbac.log.enforce.enable: "true"
            url: https://argocd.cleverapps.io
          rbac:
            policy.default: role:readonly
            policy.csv: |
              p, role:admin, applications, *, */*, allow
              p, role:admin, clusters, *, *, allow
              p, role:admin, repositories, *, *, allow
              p, role:admin, certificates, *, *, allow
              p, role:admin, projects, *, *, allow
              p, role:admin, accounts, *, *, allow
              p, role:admin, gpgkeys, *, *, allow
              p, role:admin, logs, *, *, allow
              g, argocd-admins, role:admin
        controller:
          metrics:
            enabled: true
        dex:
          enabled: false
        notifications:
          enabled: true
        applicationSet:
          enabled: true
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
